<section class="about-intro position-relative text-white py-5">
  <div class="about-bg"></div>
  <div class="container position-relative z-1 text-center">
    <h1 class="fw-bold mb-3">
      {{ currentLang === 'ar' ? 'شركاء النجاح' : 'Success Partners' }}
    </h1>
    <div class="breadcrumb-container mb-4 text-center">
      <a routerLink="/home" class="breadcrumb-link text-dark">
        {{ currentLang === 'ar' ? 'الصفحة الرئيسية' : 'Home' }}
      </a>
      <span class="separator text-dark"> > </span>
      <span class="breadcrumb-current text-dark">
        {{ currentLang === 'ar' ? 'تعرف على شركة إتقان لحلول الأعمال' : 'Get to know Itqan Business Solutions' }}
      </span>
    </div>
  </div>
</section>


<section id="partners" class="partners py-5 text-center" [attr.dir]="currentLang" style="background-color: #fff;">
  <div class="container">
    <h2 class="mb-4">
      {{ currentLang === 'ar' ? 'شركاؤنا وعملاؤنا' : 'Our Partners & Clients' }}
    </h2>

    <div class="d-flex align-items-center justify-content-center position-relative">
      <!-- سهم اليسار -->

      <button class="btn btn-warning ms-3" (click)="scrollPartners( 1)">
        <i class="fas fa-chevron-right"></i>
      </button>
      <!-- الشريط الأفقي -->
      <div class="partners-wrapper d-flex overflow-hidden" #partnersRow>
        <div
          class="partner-card flex-shrink-0"
          *ngFor="let partner of partners"
          style="width: 150px;"
        >
          <img [src]="'assets/img/' + partner.img" alt="{{partner.name}}" style="width: 100%; height: auto;">
        </div>
      </div>

      <!-- سهم اليمين -->
      <button class="btn btn-warning me-3" (click)="scrollPartners(-1)">
        <i class="fas fa-chevron-left"></i>
      </button>
    </div>
  </div>
</section>
